{{define "prose"}}
<div class="section flow-space-2xl-3xl spot-color-secondary">
  <svg class="curve" preserveAspectRatio="none" viewBox="0 0 1440 96" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m0 96 80-5.3C160 85 320 75 480 64s320-21 480-21.3c160 .3 320 10.3 400 16l80 5.3V0H0v96Z"></path></svg>
  <div class="section__inner region">
    <blockquote class="wrapper">
      <p>Stick to those principles and making excellent websites that work for everyone suddenly becomes much, much easier.</p>
    </blockquote>
  </div>
  <svg class="curve" preserveAspectRatio="none" viewBox="0 0 1440 96" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m0 96 80-5.3C160 85 320 75 480 64s320-21 480-21.3c160 .3 320 10.3 400 16l80 5.3V0H0v96Z"></path></svg>
</div>
<article class="region">
  <div class="wrapper flow prose">
    <h2>Why though?</h2>
    <p>It was in 2010 when <a href="https://twitter.com/beep">Ethan Marcotte</a> published the legendary <a href="https://alistapart.com/article/responsive-web-design/">Responsive Web Design</a> article. It completely changed how we built websites for an ever-growing variety of device types and sizes.</p>
    <p>The article has aged really well, but the practice of web design has not. Oftentimes, designers and developers get stuck into pixel-pushing a design into shape with rigid methods to ensure it looks exactly like that Figma, Sketch or even Photoshop design. This attitude has stuck around for a long time though, even as far back as the very early days of the web, which <a href="https://twitter.com/adactio">Jeremy Keith</a> touched on in <a href="https://resilientwebdesign.com/">Resilient Web Design</a>:</p>
    <blockquote>
      <p>It was as though the web design community were participating in a shared consensual hallucination. Rather than acknowledge the flexible nature of the browser window, they chose to settle on one set width as the ideal …even if that meant changing the ideal every few years.</p>
      <p>Jeremy Keith - Resilient Web Design</p>
    </blockquote>
    <p>We absolutely <strong>don’t know</strong> what our audience device sizes are going to be or whether or not they have a decent connection speed, fully working browser or even a bright enough screen to present our designs how <strong>we want them to be presented</strong>. We are all guilty of micromanaging the browser in some aspects, and in turn, are creating an inflexible and fragile user experience.</p>
    <p>A better way to approach this is to <strong>be the browser’s mentor</strong> by setting some base rules and hints, then getting out of its way to let it make decisions based on the challenges it will <strong>undoubtedly face</strong>. Even looking at <a href="https://www.opensignal.com/sites/opensignal-com/files/data/reports/global/data-2015-08/2015_08_fragmentation_report.pdf">this 2015 report on Android device sizes</a> tells us just how fragmented devices are. This was also conducted <strong>7 years ago</strong> and at the time of writing, it’s <strong>2022</strong>. That’s a long time for even more fragmentation to occur. Now factor in all of the other brands and types of device and you can really see how problematic it is, building websites in a rigid, specific manner.</p>
    <p>It makes sense to lose a bit of <strong>perceived control</strong> and instead, get even <strong>greater control</strong> by being the browser’s mentor and not its micromanger, right?</p>
    <p>Go ahead and open up this website on multiple devices or just resize the browser window. You’ll see it deals with anything that is thrown at it. It also uses progressive enhancement to leverage modern CSS, while providing a solid, base experience for browsers that don’t yet support those features, thanks to the usage of semantic HTML. All in, it’s around 2kb of CSS <strong>in total</strong>.</p>
  </div>
</article>
{{end}}