{{define "bloghead"}}
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{.Title}}</title>
  <meta name="description" content="Writing about releasing. Among other things.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/public/favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/global.min.css?n={{.Buildhash}}">
</head>
{{end}}