{{define "blogpostlist"}}
<section class="postlist">
  
  <article class="summary wrapper flow region">
    <div class="summary-date">Aug 7, 2019</div>
    
      <h2 class="summary-title">
        <a href="/posts/language-perfect">The revolution will be complete when the language is perfect</a>
      </h2>
    
    <p class="summary-description">As soon as Winston had dealt with each of the messages, he clipped his speakwritten corrections to the appropriate copy of the Times and pushed them into the pneumatic tube. Then, with a movement which was as nearly as possible unconscious, he crumpled up the original message and any notes that he himself had made, and dropped them into the memory hole to be devoured by the flames.</p>
  </article>
  
  <article class="summary wrapper flow region">
    <div class="summary-date">Dec 29, 2018</div>
    
      <h2 class="summary-title">
        <a href="/posts/sanity-not-statistical">Sanity is not statistical</a>
      </h2>
    
    <p class="summary-description">Once again he glanced at his rival in the opposite cubicle. Something seemed to tell him with certainty that Tillotson was busy on the same job as himself. There was no way of knowing whose version would finally be adopted, but he felt a profound conviction that it would be his own</p>
  </article>
  
  <article class="summary wrapper flow region">
    <div class="summary-date">Oct 30, 2018</div>
    
      <h2 class="summary-title">
        <a href="/posts/destruction-of-words">It's a beautiful thing, the destruction of words</a>
      </h2>
    
    <p class="summary-description">As soon as Winston had dealt with each of the messages, he clipped his speakwritten corrections to the appropriate copy of the Times and pushed them into the pneumatic tube.</p>
  </article>
  
</section>
{{end}}