{{define "blogfooter"}}
<footer class="site-foot" role="contentinfo">
  <div class="wrapper">
    <div class="site-foot__inner">
      <a href="https://twitter.com/edimoldovan" title="twitter" target="_blank" rel="noopener">
        <img src="/static/images/social/twitter.svg" loading="lazy" alt="twitter" width="24" height="24">
      </a>
      <a href="https://github.com/edimoldovan" title="github" target="_blank" rel="noopener">
        <img src="/static/images/social/github.svg" loading="lazy" alt="github" width="24" height="24">
      </a>
      <a href="https://www.linkedin.com/in/eduardmoldovan" title="linkedin" target="_blank" rel="noopener">
        <img src="/static/images/social/linkedin.svg" loading="lazy" alt="linkedin" width="24" height="24">
      </a>
    </div>
  </div>
</footer>
{{end}}