{{define "bloglastpost"}}
<section class="postlist">
  <article class="summary wrapper flow region">
    <div class="summary-date">Dec 28, 2022</div>
      <h2 class="summary-title">
        <a href="/not-posts/not-blog">I have decided to not blog</a>
      </h2>
      <p class="summary-description">
        I have recently been reading a lot given that I had a lot of time on my hands. 
        Many of my readings have been about my work, what I'm passionate about in my work &mdash; how to build amazing experiences on the web and native platforms.
      </p>
      <p>
        So I have quickly put together this not blog to share not posts here. Read along if you&rsquo;re curious what this crazy idea is about.
      </p>
  </article>
</section>
{{end}}