{{define "designsystem"}}
  
  <div class="region flow section">
    <header class="scheme">
      <h3>Scheme</h3>
      <form id="theme-switcher">
        <div>
          <input type="radio" id="light" name="theme" value="light">
          <label for="light">Light</label>
        </div>
        <div>
          <input type="radio" id="dark" name="theme" value="dark">
          <label for="dark">Dark</label>
        </div>
      </form>
    </header>
  </div>

  <div class="section">
    <div class="wrapper flow">
      <h3>Colors and shadows</h3>
      <h4>Primary colors</h4>
      <section class="boxes">
        <div class="brand-primary1">1</div>
        <div class="brand-primary2">2</div>
        <div class="brand-primary3">3</div>
      </section>
      <h4>Secondary colors</h4>
      <section class="boxes">
        <div class="brand-secondary1">1</div>
        <div class="brand-secondary2">2</div>
        <div class="brand-secondary3">3</div>
      </section>
      <h4>Neutral colors</h4>
      <section class="boxes">
        <div class="surface1">1</div>
        <div class="surface2">2</div>
        <div class="surface3">3</div>
        <div class="surface4">4</div>
        <div class="surface5">5</div>
        <div class="surface6">6</div>
        <div class="surface7">7</div>
        <div class="surface8">8</div>
      </section>
      <h4>Color shades</h4>
      <section class="boxes">
        <div class="primary1-shade1">1</div>
        <div class="primary1-shade2">2</div>
        <div class="primary1-shade3">3</div>
        <div class="primary1-shade4">4</div>
        <div class="primary1-shade5">5</div>
        <div class="primary1-shade6">6</div>
        <div class="primary1-shade7">7</div>
        <div class="primary1-shade8">8</div>
      </section>
      <section class="boxes">
        <div class="primary2-shade1">1</div>
        <div class="primary2-shade2">2</div>
        <div class="primary2-shade3">3</div>
        <div class="primary2-shade4">4</div>
        <div class="primary2-shade5">5</div>
        <div class="primary2-shade6">6</div>
        <div class="primary2-shade7">7</div>
        <div class="primary2-shade8">8</div>
      </section>
      <section class="boxes">
        <div class="primary3-shade1">1</div>
        <div class="primary3-shade2">2</div>
        <div class="primary3-shade3">3</div>
        <div class="primary3-shade4">4</div>
        <div class="primary3-shade5">5</div>
        <div class="primary3-shade6">6</div>
        <div class="primary3-shade7">7</div>
        <div class="primary3-shade8">8</div>
      </section>
      <section class="boxes">
        <div class="secondary1-shade1">1</div>
        <div class="secondary1-shade2">2</div>
        <div class="secondary1-shade3">3</div>
        <div class="secondary1-shade4">4</div>
        <div class="secondary1-shade5">5</div>
        <div class="secondary1-shade6">6</div>
        <div class="secondary1-shade7">7</div>
        <div class="secondary1-shade8">8</div>
      </section>
      <section class="boxes">
        <div class="secondary2-shade1">1</div>
        <div class="secondary2-shade2">2</div>
        <div class="secondary2-shade3">3</div>
        <div class="secondary2-shade4">4</div>
        <div class="secondary2-shade5">5</div>
        <div class="secondary2-shade6">6</div>
        <div class="secondary2-shade7">7</div>
        <div class="secondary2-shade8">8</div>
      </section>
      <section class="boxes">
        <div class="secondary3-shade1">1</div>
        <div class="secondary3-shade2">2</div>
        <div class="secondary3-shade3">3</div>
        <div class="secondary3-shade4">4</div>
        <div class="secondary3-shade5">5</div>
        <div class="secondary3-shade6">6</div>
        <div class="secondary3-shade7">7</div>
        <div class="secondary3-shade8">8</div>
      </section>
      <h4>Outer shadows</h4>
      <section class="boxes">
        <div class="surface1 box-shadow1">1</div>
        <div class="surface1 box-shadow2">2</div>
        <div class="surface1 box-shadow3">3</div>
        <div class="surface1 box-shadow4">4</div>
        <div class="surface1 box-shadow5">5</div>
        <div class="surface1 box-shadow6">6</div>
      </section>
      <h4>Inner shadows</h4>
      <section class="boxes">
        <div class="surface1 box-inner-shadow1">1</div>
        <div class="surface1 box-inner-shadow2">2</div>
        <div class="surface1 box-inner-shadow3">3</div>
        <div class="surface1 box-inner-shadow4">4</div>
      </section>
    </div>
  </div>

  <div class="section">
    <div class="wrapper flow">
      <h3>Ratios</h3>
      <section class="ratios">
        <div class="box">box</div>
        <div class="landscape">landscape</div>
        <div class="portrait">portrait</div>
        <div class="widescreen">widescreen</div>
        <div class="golden ratio">golden ratio</div>
        <div class="ultrawide">ultrawide</div>
      </section>
    </div>
  </div>

  <div class="section">
    <div class="wrapper">
      <h3>Fluid type</h3>
      <p class="text-step-8">
        <strong>Step 8</strong>
        <output class="u-style-label">319.61px</output>
      </p>

      <p class="text-step-7">
        <strong>Step 7</strong>
        <output class="u-style-label">226.04px</output>
      </p>

      <p class="text-step-6">
        <strong>Step 6</strong>
        <output class="u-style-label">159.86px</output>
      </p>

      <p class="text-step-5">
        <strong>Step 5</strong>
        <output class="u-style-label">113.05px</output>
      </p>

      <p class="text-step-4">
        <strong>Step 4</strong>
        <output class="u-style-label">79.95px</output>
      </p>

      <p class="text-step-3">
        <strong>Step 3</strong>
        <output class="u-style-label">56.54px</output>
      </p>

      <p class="text-step-2">
        <strong>Step 2</strong>
        <output class="u-style-label">39.99px</output>
      </p>

      <p class="text-step-1">
        <strong>Step 1</strong>
        <output class="u-style-label">28.28px</output>
      </p>

      <p class="text-step-0">
        <strong>Step 0</strong>
        <output class="u-style-label">20.00px</output>
      </p>

      <p class="text-step--1">
        <strong>Step -1</strong>
        <output class="u-style-label">14.14px</output>
      </p>

    </div>
  </div>

  <script>
    const e = document.querySelector("#theme-switcher"), t = document.firstElementChild;

    e.addEventListener("input", (e => o(e.target.value)));
    const o = e => t.setAttribute("color-scheme", e);
  </script>
{{end}}
