{{define "products"}}
<article class="region flow">
  <div class="wrapper">
    <h2>Key Foundations &amp; Principles</h2>
    <ul class="grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
      <li class="card flow">
        <h3>Modern CSS with Methodologies</h3>
        <p>Instead of brute-forcing your designs together with a CSS framework, consider opting for a CSS methodology like <a href="https://cube.fyi/">CUBE CSS</a>, <a href="http://smacss.com/">SMACSS</a> or <a href="http://getbem.com/introduction/">BEM</a> that empowers you to write flexible, portable CSS, rather than rigid, inflexible and overly-specific CSS.</p>
      </li>
      <li class="card flow">
        <h3>Fluid type &amp; Space</h3>
        <p>Creating type scales that respond to the viewport, rather than setting explicit values for typography and space allows you to set rules once and forget about them, knowing that whatever device, regardless of its available size will be presented with appropriate sizes.</p>
      </li>
      <li class="card flow">
        <h3>Flexible Layouts</h3>
        <p>Using flexible, flexbox-based layouts, like the ones we provide in <a href="https://every-layout.dev/">Every Layout</a>, ensures that regardless of conditions—be it content or available screen size: your front-end will be able to respond in the most appropriate way. Giving browsers hints and space to do what they do best, helps your front-end handle tricky scenarios where breakpoint-based layouts consistently fail.</p>
      </li>
      <li class="card flow">
        <h3>Progressive Enhancement</h3>
        <p>Building up with the lowest possible technological solution and enhancing it where device capability, connection speeds and context conditions allow, helps you build for everyone, not just the minority of people that have fast connections and powerful devices that work well, all the time.</p>
      </li>
      <li class="card flow">
        <h3>A product</h3>
        <img src="https://placekitten.com/550/300" alt="some cat" />
        <p>With a sane amount of text description on two lines.</p>
      </li>
      <li class="card flow">
        <h3>Another product</h3>
        <img src="https://placekitten.com/550/300" alt="another cat" />
        <p>With some more sane amount of text description.</p>
      </li>
    </ul>
  </div>
</article>
{{end}}