{{define "home"}}
<!DOCTYPE html>
<html lang="en" color-scheme="auto">
{{template "head" .}}
<body>
  <main class="flow">
    {{template "header" .}}
    {{template "products" .}}
    {{template "prose" .}}
    {{template "tools" .}}
  </div>
  {{template "wsreload" .}}

  <script type="module">
    // import * as flatpickr from "flatpickr";
    // Write main module code here, or as a separate file with a "src" attribute on the module script.
    // console.log(flatpickr);
  </script>
</body>
</html>
{{end}}