{{define "talk"}}
<!DOCTYPE html>
<html lang="en" color-scheme="auto">
{{template "head" .}}
<body>
  <main class="flow">
    <div class="wrapper flow prose">
      <section class="talk">

        <div class="row">
          <h1>Introduction</h1>
        </div>

        <div class="row">
          <div class="column">
            <h1>Agenda</h1>
            <ol>
              <li>Visuals</li>
              <li>Interactions</li>
              <li>Shipping to the browsers</li>
            </ol>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <h1>Visuals</h1>
            <p>How do we recognise brands? What are the key elements from implementation perspective?</p>
          </div>
        </div>
        
        <div class="row">
          <img src="/public/images/talk/colors-1.png" />
          <img src="/public/images/talk/colors-2.png" />
        </div>

        <div class="row">
          <img src="/public/images/talk/coca.png" />
        </div>

        <div class="row">
          <img src="/public/images/talk/green-font.png" />
        </div>

        <div class="row">
          <img src="/public/images/talk/red-font.png" />
        </div>

        <div class="row">
          <img src="/public/images/talk/result-1.png" />
          <img src="/public/images/talk/result-2.png" />
        </div>

        <div class="row">
          <img src="/public/images/talk/menu.png" />
        </div>

        <div class="row">
          <div class="column">
            <h1>Three key elements</h1>
            <ol>
              <li>Colors</li>
              <li>Type</li>
              <li>Spacing</li>
            </ol>
            <p>Let&rsquo;s look at each</p>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <h4>Brand colors</h4>
            <section class="boxes">
              <div class="brand"></div>
              <div class="secondary1"></div>
              <div class="secondary2"></div>
              <div class="secondary3"></div>
            </section>
            <h4>Neutral colors</h4>
            <section class="boxes">
              <div class="surface1"></div>
              <div class="surface2"></div>
              <div class="surface3"></div>
              <div class="surface4"></div>
              <div class="surface5"></div>
              <div class="surface6"></div>
              <div class="surface7"></div>
              <div class="surface8"></div>
            </section>
          </div>
        </div>

        <div class="row">
          <h1>Let&rsquo;s look at some code</h1>
        </div>

        <div class="row">
          <button class="primary-button">HSL colors</button>
        </div>

        <div class="row">
          <button class="primary-button">HSL colors</button>
          <button class="primary-button-p3">P3 colors</button>
        </div>

        <div class="row">
          <div class="column">
            <h1>Recommendation</h1>
            <p>Explore your options: see if you can provide more vibrant colors in browsers (caveat: design tool support).</p>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <h1>Responsive example, or actually fluid</h1>
            <p>Let&rsquo;s resize the browser to see what happens. No media queries were hurt in this exercise.</p>
            <footer>
              <a target="_blank" href="https://utopia.fyi/type/calculator?c=320,16,1.2,1350,20,1.414,8,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12">Fluid type</a>
              <a target="_blank" href="https://utopia.fyi/space/calculator?c=320,16,1.2,1350,20,1.414,8,1,&s=0.75|0.5|0.25,2|3|5|8|13,s-l|l-2xl|xl-2xl|s-xl&g=s,l,xl,12">Fluid space</a>
              <a target="_blank" href="https://utopia.fyi/blog/get-started-with-utopia-figma-plugins">Figma plugin</a>
            </footer>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <h1>Recommendation</h1>
            <p>Explore your options: using fluid type and space will reduce complexity of your code and help maintain the same framework bewteen design and dev team.</p>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <h1>Simple interactive store</h1>
            <div id="wizard-list"></div>
            <div id="wizard-count"></div>
            <div id="new-app"></div>
            <button id="add-wizard">Add wizard</button>
            <footer>
              <a target="_blank" href="https://gomakethings.com/simple-reactive-data-stores-with-vanilla-javascript-and-proxies/">source</a>
            </footer>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <h1>Recommendation</h1>
            <p>Explore your options: use reactive libraries and frameworks when they are really needed and choose the right ones.</p>
            <p>Idea: Solid offers the same features as React but it&rsquo;s faster and smaller in size.</p>
          </div>
        </div>

        <div class="row">
          <div class="column flow">
            <h1>Shipping to the browser</h1>
            <h4>Simple Go server with very little dependencies, easy to build and ship in one single executable.</h4>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <h1>Recommendation</h1>
            <p>Explore your options: try to under-engineer in the beginning, complexity will come anyway, no need to introduce it artificially in the beginning of a build.</p>
          </div>
        </div>

        <div class="row">
          <h1>Thank you</h1>
        </div>

      </section>
    </div>
  </main>
  {{template "wsreload" .}}

  <script type="module" src="/public/js/interactive.js"></script>
</body>
</html>
{{end}}