{{define "vanilla-microapps"}}
<!DOCTYPE html>
<html lang="en" color-scheme="auto">
{{template "head" .}}
<body>
  <main class="flow">
    <div class="wrapper flow prose">
      <h1>Javascript micro-apps</h1>
      <section>
        <h2>Vanilla app</h2>
        <div id="wizard-list"></div>
        <div id="wizard-count"></div>
        <div id="new-app"></div>
      </section>
    </div>
  </main>
  {{template "wsreload" .}}

  <script type="module">

    function store (data = {}, name = "store") {
      function emit(type) {
        // Create a new event
        let event = new CustomEvent(type, {
          bubbles: true,
          cancelable: true,
        });
    
        // Dispatch the event
        return document.dispatchEvent(event);
      }
    
      function handler (name, data) {
        return {
          get: function (obj, prop) {
            if (prop === "_isProxy") return true;
            if (["object", "array"].includes(Object.prototype.toString.call(obj[prop]).slice(8, -1).toLowerCase()) && !obj[prop]._isProxy) {
              obj[prop] = new Proxy(obj[prop], handler(name, data));
            }
            return obj[prop];
          },
          set: function (obj, prop, value) {
            if (obj[prop] === value) return true;
            obj[prop] = value;
            emit(name);
            return true;
          },
          deleteProperty: function (obj, prop) {
            delete obj[prop];
            emit(name);
            return true;
          }
        };
      }
      return new Proxy(data, handler(name, data));
    }

    // The list template
    function wizardListTemplate(props) {
      return `
        <h3>Wizards</h3>
        <ul>
          ${props.map(function (wizard) {
            return `<li>${wizard}</li>`;
          }).join("")}
        </ul>`;
    }

    // The counter template
    function wizardCountTemplate(props) {
      return `
        <h3>Wizard count</h3>
        <p>${props.length}</p>
        `;
    }

    var Component = function(slotSelector, template, data) {
      var _this = this;
      _this.elem = document.querySelector(slotSelector);
      _this.elem.innerHTML = template(data);
      document.addEventListener("wizards", () => {
        _this.elem.innerHTML = template(data);
      });
    };
    
    // Create reactive data store
    let wizards = store(["Gandalf", "Merlin"], "wizards");

    // Render the wizard list app
    let wizardListApp = new Component("#wizard-list", wizardListTemplate, wizards);

    // Render the wizard count app
    let wizardCountApp = new Component("#wizard-count", wizardCountTemplate, wizards);

    // This will automatically update the UI
    setTimeout(() => {
      // can later be an async fetch from a server
      wizards.push("Ursula");
    }, 2000);


  </script>
</body>
</html>
{{end}}