

{{define "blogpostpartial"}}
<div class="wrapper flow prose">
  <h1>I have decided to not blog</h1>
  <p class="summary-description">
    I have recently been reading a lot given that I had a lot of time on my hands. 
    Many of my readings have been about my work, what I'm passionate about in my work &mdash; how to build amazing experiences on the web and native platforms.
  </p>
  <p>
    So I have quickly put together this not blog to share not posts here. Read along if you&rsquo;re curious what this crazy idea is about.
  </p>
  <h2>What is a not blog?</h2>
  <p>I get an urge to try things out when I read about them. For example: I like a lot the <i><b><code>has()</code></b></i> CSS selector features. So I naturally want to try them out. But a traditional blog doesn&rsquo;t offer the opportunity to actually embed code easily into a post that in time also looks great great. 
  </p>
  <p>Inside the flat a fruity voice was reading out a list of figures which had something to do with the production of pig iron. The voice came from an oblong metal plaque like a dulled mirror which formed part of the surface of the right-hand wall. Winston turned a switch and the voice sank somewhat, though the words were still distinguishable. The instrument (the telescreen, it was called) could be dimmed) but there was no way of shutting it off completely.</p>
  <p>I could potentially embed some tool with code examples but I am not a big fan of those.</p>
  <p>Also, I would like to share the experience of building something from scratch, in this case a not blog so that whoever is curious to read, can follow how I I build it.</p>
  <p>So if you are interested in <code>Go</code>, good <code>CSS</code> practices and on top of everything a very <code>iterative</code>, <code>lean</code> approach follow the story here.</p>
</div>
{{end}}