/* @import 'tailwindcss/base'; */

@import '_root/colors.css';
@import '_root/utopia-space-values.css';
@import '_root/utopia-text-sizes.css';
@import '_root/fonts.css';

@import 'global/reset.css';
@import 'global/fonts.css';
@import 'global/variables.css';
@import 'global/ratios.css';
@import 'global/shadows.css';
@import 'global/global-styles.css';

@import 'blocks/button.css';
@import 'blocks/card.css';
@import 'blocks/curve.css';
@import 'blocks/features.css';
@import 'blocks/prose.css';
@import 'blocks/section.css';
@import 'blocks/signoff.css';
@import 'blocks/site-foot.css';

@import 'compositions/grid.css';
@import 'compositions/sidebar.css';

@import 'utilities/flow.css';
@import 'utilities/region.css';
@import 'utilities/wrapper.css';

@import 'exceptions/others.css';

/* only needed for design system */
@import 'exceptions/designsystem.css';
