.boxes {
  display: flex;
  flex-flow: row wrap;
  gap: 2ch;
}

.boxes > * {
  --size: 7ch;
  height: var(--size, 8ch);
  aspect-ratio: var(--ratio-square, 1);
  display: grid;
  align-content: center;
  justify-content: center;
  place-content: center;
  border: 2px solid hsl(var(--color-brand-hue) 10% 50% / 15%);
}

.forms {
  display: flex;
  flex-flow: row wrap;
  gap: 2ch;
}

.ratios {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  gap: 2ch;
}

.ratios > * {
  --size: 7ch;
  height: var(--size, 8ch);
  display: grid;
  align-content: center;
  justify-content: center;
  place-content: center;
  border: 2px solid hsl(var(--color-brand-hue) 10% 50% / 15%);
  color: var(--color-neutral-2);
  background-color: var(--color-neutral-8);
}

.ratios > .box {
  aspect-ratio: var(--ratio-square);
}

.ratios > .landscape {
  aspect-ratio: var(--ratio-landscape);
}

.ratios > .portrait {
  aspect-ratio: var(--ratio-portrait);
}

.ratios > .widescreen {
  aspect-ratio: var(--ratio-widescreen);
}

.ratios > .golden {
  aspect-ratio: var(--ratio-golden);
}

.ratios > .ultrawide {
  aspect-ratio: var(--ratio-ultrawide);
}

.scheme {
  /* --flow-space: clamp(1rem, 0.73rem + 1.36vw, 1.875rem); */
  max-width: var(--wrapper-max-width,85rem);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.brand {
  color: var(--color-neutral-3);
  background-color: var(--color-brand)
}

.secondary1 {
  color: var(--color-neutral-3);
  background-color: var(--color-secondary-1)
}

.secondary2 {
  color: var(--color-neutral-3);
  background-color: var(--color-secondary-2)
}

.secondary3 {
  color: var(--color-neutral-3);
  background-color: var(--color-secondary-3)
}

.surface1 {
  background-color: var(--color-neutral-1);
  color: var(--color-neutral-8);
}

.surface2 {
  background-color: var(--color-neutral-2);
  color: var(--color-neutral-7);
}

.surface3 {
  background-color: var(--color-neutral-3);
  color: var(--color-neutral-6);
}

.surface4 {
  background-color: var(--color-neutral-4);
  color: var(--color-neutral-5);
}

.surface5 {
  background-color: var(--color-neutral-5);
  color: var(--color-neutral-4);
}

.surface6 {
  background-color: var(--color-neutral-6);
  color: var(--color-neutral-3);
}

.surface7 {
  background-color: var(--color-neutral-7);
  color: var(--color-neutral-2);
}

.surface8 {
  background-color: var(--color-neutral-8);
  color: var(--color-neutral-1);
}

.box-inner-shadow1 {
  color: var(--color-neutral-2);
  background-color: var(--color-neutral-8);
  box-shadow: var(--inner-shadow-1);
}

.box-inner-shadow2 {
  color: var(--color-neutral-2);
  background-color: var(--color-neutral-8);
  box-shadow: var(--inner-shadow-2);
}

.box-inner-shadow3 {
  color: var(--color-neutral-2);
  background-color: var(--color-neutral-8);
  box-shadow: var(--inner-shadow-3);
}

.box-inner-shadow4 {
  color: var(--color-neutral-2);
  background-color: var(--color-neutral-8);
  box-shadow: var(--inner-shadow-4);
}

.box-shadow1 {
  color: var(--color-neutral-2);
  background-color: var(--color-neutral-8);
  box-shadow: var(--shadow-1);
}

.box-shadow2 {
  color: var(--color-neutral-2);
  background-color: var(--color-neutral-8);
  box-shadow: var(--shadow-2);
}

.box-shadow3 {
  color: var(--color-neutral-2);
  background-color: var(--color-neutral-8);
  box-shadow: var(--shadow-3);
}

.box-shadow4 {
  color: var(--color-neutral-2);
  background-color: var(--color-neutral-8);
  box-shadow: var(--shadow-4);
}

.box-shadow5 {
  color: var(--color-neutral-2);
  background-color: var(--color-neutral-8);
  box-shadow: var(--shadow-5);
}

.box-shadow6 {
  color: var(--color-neutral-2);
  background-color: var(--color-neutral-8);
  box-shadow: var(--shadow-6);
}

.u-style-label {
  font: var(--step-1)/1.2 var(--font-base);
  font-weight: 700;
  letter-spacing: .06em;
}

.font-sizes {
  font-weight: 200;
}

.text-step-8 {
  font-size: var(--step-8);
}

.text-step-7 {
  font-size: var(--step-7);
}

.text-step-6 {
  font-size: var(--step-6);
}

.text-step-5 {
  font-size: var(--step-5);
}

.text-step-4 {
  font-size: var(--step-4);
}

.text-step-3 {
  font-size: var(--step-3);
}

.text-step-2 {
  font-size: var(--step-2);
}

.text-step-1 {
  font-size: var(--step-1);
}

.text-step-0 {
  font-size: var(--step-0);
}

.text-step--1 {
  font-size: var(--step--1);
}

.brand-shade1 {
  background: var(--color-brand-1);
}

.brand-shade2 {
  background: var(--color-brand-2);
}

.brand-shade3 {
  background: var(--color-brand-3);
}

.brand-shade4 {
  background: var(--color-brand-4);
}

.brand-shade5 {
  background: var(--color-brand-5);
}

.brand-shade6 {
  background: var(--color-brand-6);
}

.brand-shade7 {
  background: var(--color-brand-7);
}

.brand-shade8 {
  background: var(--color-brand-8);
}


.secondary-shade-1-1 {
  background: var(--color-secondary-1-1);
}

.secondary-shade-1-2 {
  background: var(--color-secondary-1-2);
}

.secondary-shade-1-3 {
  background: var(--color-secondary-1-3);
}

.secondary-shade-1-4 {
  background: var(--color-secondary-1-4);
}

.secondary-shade-1-5 {
  background: var(--color-secondary-1-5);
}

.secondary-shade-1-6 {
  background: var(--color-secondary-1-6);
}

.secondary-shade-1-7 {
  background: var(--color-secondary-1-7);
}

.secondary-shade-1-8 {
  background: var(--color-secondary-1-8);
}


.secondary-shade-2-1 {
  background: var(--color-secondary-2-1);
}

.secondary-shade-2-2 {
  background: var(--color-secondary-2-2);
}

.secondary-shade-2-3 {
  background: var(--color-secondary-2-3);
}

.secondary-shade-2-4 {
  background: var(--color-secondary-2-4);
}

.secondary-shade-2-5 {
  background: var(--color-secondary-2-5);
}

.secondary-shade-2-6 {
  background: var(--color-secondary-2-6);
}

.secondary-shade-2-7 {
  background: var(--color-secondary-2-7);
}

.secondary-shade-2-8 {
  background: var(--color-secondary-2-8);
}


.secondary-shade-3-1 {
  background: var(--color-secondary-3-1);
}

.secondary-shade-3-2 {
  background: var(--color-secondary-3-2);
}

.secondary-shade-3-3 {
  background: var(--color-secondary-3-3);
}

.secondary-shade-3-4 {
  background: var(--color-secondary-3-4);
}

.secondary-shade-3-5 {
  background: var(--color-secondary-3-5);
}

.secondary-shade-3-6 {
  background: var(--color-secondary-3-6);
}

.secondary-shade-3-7 {
  background: var(--color-secondary-3-7);
}

.secondary-shade-3-8 {
  background: var(--color-secondary-3-8);
}