.boxes {
  display: flex;
  flex-flow: row wrap;
  gap: 2ch;
}

.boxes > * {
  --size: 7ch;
  height: var(--size, 8ch);
  aspect-ratio: var(--ratio-square, 1);
  display: grid;
  align-content: center;
  justify-content: center;
  place-content: center;
  border: 2px solid hsl(var(--brand-primary1-hue) 10% 50% / 15%);
}

.ratios {
  display: flex;
  flex-flow: row wrap;
  gap: 2ch;
}

.ratios > * {
  --size: 7ch;
  height: var(--size, 8ch);
  display: grid;
  align-content: center;
  justify-content: center;
  place-content: center;
  border: 2px solid hsl(var(--brand-primary1-hue) 10% 50% / 15%);
}

.ratios > .box {
  aspect-ratio: var(--ratio-square);
}

.ratios > .landscape {
  aspect-ratio: var(--ratio-landscape);
}

.ratios > .portrait {
  aspect-ratio: var(--ratio-portrait);
}

.ratios > .widescreen {
  aspect-ratio: var(--ratio-widescreen);
}

.ratios > .golden {
  aspect-ratio: var(--ratio-golden);
}

.ratios > .ultrawide {
  aspect-ratio: var(--ratio-ultrawide);
}

.scheme {
  /* --flow-space: clamp(1rem, 0.73rem + 1.36vw, 1.875rem); */
  max-width: var(--wrapper-max-width,85rem);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.brand-primary1 {
  color: var(--color8);
  background-color: var(--brand-primary1)
}

.brand-primary2 {
  color: var(--color8);
  background-color: var(--brand-primary2)
}

.brand-primary3 {
  color: var(--color8);
  background-color: var(--brand-primary3)
}

.brand-secondary1 {
  color: var(--color8);
  background-color: var(--brand-secondary1)
}

.brand-secondary2 {
  color: var(--color8);
  background-color: var(--brand-secondary2)
}

.brand-secondary3 {
  color: var(--color8);
  background-color: var(--brand-secondary3)
}

.surface1 {
  background-color: var(--color1);
  color: var(--color8);
}

.surface2 {
  background-color: var(--color2);
  color: var(--color7);
}

.surface3 {
  background-color: var(--color3);
  color: var(--color6);
}

.surface4 {
  background-color: var(--color4);
  color: var(--color5);
}

.surface5 {
  background-color: var(--color5);
  color: var(--color4);
}

.surface6 {
  background-color: var(--color6);
  color: var(--color3);
}

.surface7 {
  background-color: var(--color7);
  color: var(--color2);
}

.surface8 {
  background-color: var(--color8);
  color: var(--color1);
}

.box-inner-shadow1 {
  box-shadow: var(--inner-shadow-1);
}

.box-inner-shadow2 {
  box-shadow: var(--inner-shadow-2);
}

.box-inner-shadow3 {
  box-shadow: var(--inner-shadow-3);
}

.box-inner-shadow4 {
  box-shadow: var(--inner-shadow-4);
}

.box-shadow1 {
  box-shadow: var(--shadow-1);
}

.box-shadow2 {
  box-shadow: var(--shadow-2);
}

.box-shadow3 {
  box-shadow: var(--shadow-3);
}

.box-shadow4 {
  box-shadow: var(--shadow-4);
}

.box-shadow5 {
  box-shadow: var(--shadow-5);
}

.box-shadow6 {
  box-shadow: var(--shadow-6);
}

.u-style-label {
  font: var(--step-1)/1.2 var(--font-base);
  font-weight: 700;
  letter-spacing: .06em;
}

.text-step-8 {
  font-size: var(--step-8);
}

.text-step-7 {
  font-size: var(--step-7);
}

.text-step-6 {
  font-size: var(--step-6);
}

.text-step-5 {
  font-size: var(--step-5);
}

.text-step-4 {
  font-size: var(--step-4);
}

.text-step-3 {
  font-size: var(--step-3);
}

.text-step-2 {
  font-size: var(--step-2);
}

.text-step-1 {
  font-size: var(--step-1);
}

.text-step-0 {
  font-size: var(--step-0);
}

.text-step--1 {
  font-size: var(--step--1);
}

.primary1-shade1 {
  background: var(--brand-primary1-shade1);
}

.primary1-shade2 {
  background: var(--brand-primary1-shade2);
}

.primary1-shade3 {
  background: var(--brand-primary1-shade3);
}

.primary1-shade4 {
  background: var(--brand-primary1-shade4);
}

.primary1-shade5 {
  background: var(--brand-primary1-shade5);
}

.primary1-shade6 {
  background: var(--brand-primary1-shade6);
}

.primary1-shade7 {
  background: var(--brand-primary1-shade7);
}

.primary1-shade8 {
  background: var(--brand-primary1-shade8);
}


.primary2-shade1 {
  background: var(--brand-primary2-shade1);
}

.primary2-shade2 {
  background: var(--brand-primary2-shade2);
}

.primary2-shade3 {
  background: var(--brand-primary2-shade3);
}

.primary2-shade4 {
  background: var(--brand-primary2-shade4);
}

.primary2-shade5 {
  background: var(--brand-primary2-shade5);
}

.primary2-shade6 {
  background: var(--brand-primary2-shade6);
}

.primary2-shade7 {
  background: var(--brand-primary2-shade7);
}

.primary2-shade8 {
  background: var(--brand-primary2-shade8);
}


.primary3-shade1 {
  background: var(--brand-primary3-shade1);
}

.primary3-shade2 {
  background: var(--brand-primary3-shade2);
}

.primary3-shade3 {
  background: var(--brand-primary3-shade3);
}

.primary3-shade4 {
  background: var(--brand-primary3-shade4);
}

.primary3-shade5 {
  background: var(--brand-primary3-shade5);
}

.primary3-shade6 {
  background: var(--brand-primary3-shade6);
}

.primary3-shade7 {
  background: var(--brand-primary3-shade7);
}

.primary3-shade8 {
  background: var(--brand-primary3-shade8);
}

.secondary1-shade1 {
  background: var(--brand-secondary1-shade1);
}

.secondary1-shade2 {
  background: var(--brand-secondary1-shade2);
}

.secondary1-shade3 {
  background: var(--brand-secondary1-shade3);
}

.secondary1-shade4 {
  background: var(--brand-secondary1-shade4);
}

.secondary1-shade5 {
  background: var(--brand-secondary1-shade5);
}

.secondary1-shade6 {
  background: var(--brand-secondary1-shade6);
}

.secondary1-shade7 {
  background: var(--brand-secondary1-shade7);
}

.secondary1-shade8 {
  background: var(--brand-secondary1-shade8);
}


.secondary2-shade1 {
  background: var(--brand-secondary2-shade1);
}

.secondary2-shade2 {
  background: var(--brand-secondary2-shade2);
}

.secondary2-shade3 {
  background: var(--brand-secondary2-shade3);
}

.secondary2-shade4 {
  background: var(--brand-secondary2-shade4);
}

.secondary2-shade5 {
  background: var(--brand-secondary2-shade5);
}

.secondary2-shade6 {
  background: var(--brand-secondary2-shade6);
}

.secondary2-shade7 {
  background: var(--brand-secondary2-shade7);
}

.secondary2-shade8 {
  background: var(--brand-secondary2-shade8);
}


.secondary3-shade1 {
  background: var(--brand-secondary3-shade1);
}

.secondary3-shade2 {
  background: var(--brand-secondary3-shade2);
}

.secondary3-shade3 {
  background: var(--brand-secondary3-shade3);
}

.secondary3-shade4 {
  background: var(--brand-secondary3-shade4);
}

.secondary3-shade5 {
  background: var(--brand-secondary3-shade5);
}

.secondary3-shade6 {
  background: var(--brand-secondary3-shade6);
}

.secondary3-shade7 {
  background: var(--brand-secondary3-shade7);
}

.secondary3-shade8 {
  background: var(--brand-secondary3-shade8);
}