.mt-l-xl {
  margin-top: clamp(2rem, 1.46rem + 2.72vw, 3.75rem);
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.grid {
  display: grid;
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.flow-space-s-m {
  --flow-space: clamp(1rem, 0.73rem + 1.36vw, 1.875rem);
}

.flow-space-2xl-3xl {
  --flow-space: clamp(4rem, 2.91rem + 5.44vw, 7.5rem);
}

.spot-color-primary {
  --spot-color: var(--brand-primary1);
}

.spot-color-secondary {
  --spot-color: var(--brand-primary3);
}

.summary {
  --region-space: --space-m-l;
}

.summary {
  --flow-space: clamp(1rem, 0.73rem + 1.36vw, 1.875rem);
}

.menu-main {
  padding-top: 1rem;
  gap: 20px;
  display: flex;
}

.dot {
  color: hsl(5deg 100% 50%);
}

.site-foot {
  padding: var(--space-s-m);
}

.site-foot__inner{
  align-items: center;
  display: flex;
  gap: var(--space-xs-s);
}

.site-foot img {
  height: var(--space-m-l);
  width: var(--space-m-l);
  filter: invert(var(--svg-image-filter-contrast));
}

html {
  scroll-snap-type: y mandatory;
}

.talk .row {
  display: flex;
  flex-direction: row;
  gap: var(--space-xs-s);
  height: 100vh;
  align-items: center;
  justify-content: center;

  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.talk .column {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs-s);
  /* height: 100vh; */
  align-items: flex-start;
  justify-content: center;
}

.talk .column p {
  padding-top: var(--space-s-xl);
}

.talk .column footer {
  display: flex;
  flex-direction: row;
  gap: var(--space-s);
}

.talk .column footer a {
  font-size: var(--step--1);
  padding-top: var(--space-s);
  text-decoration: underline;
}

.talk img {
  height: auto;
  width: auto;
}

.talk .row .boxes div {
  border: 1px solid var(--color-neutral-4);
}

.derived {
  background-color: hsl(from #f06d06 h s l);
}

.gradient {
  background-image: linear-gradient(
    to right 
    in oklch,
    lch(50% 100 100), 
    lch(50% 100 250)
  );
}

.p3 {
  background-color: color(display-p3 0 1 0);
}

.purple-oklch {
  background-color: oklch(42.1% 0.21 328.6);
}

.purple-rgb {
  background-color: rgb(128, 0, 128);
}

.purple-hsl {
  background-color: hsl(300.27, 100%, 25%);
}

.no-gap {
  gap: 0 !important;
}

.no-border div {
  border: none !important;
  width: 350px;
  height: 350px;
}

.primary-button {
  outline: none;
  border: none;
  background-color: var(--color-brand);
  color: var(--color-neutral-2);
  border-radius: 10px;
  font-size: var(--step-4);
  padding: .4em .8em;
  /* padding: var(--space-s-xl) var(--space-l-2xl); */
  transition: background .4s;
}

.primary-button:hover {
  --color-brand: hsl(var(--color-dark-brand-hue) var(--color-dark-brand-saturation) calc(var(--color-dark-brand-lightness) - 10%));
  --color-neutral-2: hsl(10 5% calc(var(--color-dark-brand-lightness) + 50%));
}

.primary-button-p3 {
  outline: none;
  border: none;
  background-color: color(display-p3 1 0 0);
  color: color(display-p3 .9 .9 .9);
  border-radius: 10px;
  font-size: var(--step-4);
  padding: .4em .8em;
  transition: background .4s;
}

.primary-button-p3:hover {
  background-color: color(display-p3 .85 0 0);
  color: color(display-p3 1 1 1);
}