.mt-l-xl {
  margin-top: clamp(2rem, 1.46rem + 2.72vw, 3.75rem);
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.grid {
  display: grid;
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.flow-space-s-m {
  --flow-space: clamp(1rem, 0.73rem + 1.36vw, 1.875rem);
}

.flow-space-2xl-3xl {
  --flow-space: clamp(4rem, 2.91rem + 5.44vw, 7.5rem);
}

.spot-color-primary {
  --spot-color: #0042bf;
}

.spot-color-secondary {
  --spot-color: #ee5141;
}

.summary {
  --region-space: --space-m-l;
}

.summary {
  --flow-space: clamp(1rem, 0.73rem + 1.36vw, 1.875rem);
}

.colors {
  display: flex;
  flex-flow: row wrap;
  gap: 2ch;
}

.colors > * {
  --size: 10ch;
  height: var(--size, 8ch);
  aspect-ratio: var(--ratio-square, 1);
  display: grid;
  align-content: center;
  justify-content: center;
  place-content: center;
}

.scheme {
  /* --flow-space: clamp(1rem, 0.73rem + 1.36vw, 1.875rem); */
  max-width: var(--wrapper-max-width,85rem);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.brand{
  color: var(--text1);
  background-color: var(--brand)
}

.surface1 {
  background-color: var(--color1);
  color: var(--text2);
}

.surface2 {
  background-color: var(--color2);
  color: var(--text2);
}

.surface3 {
  background-color: var(--color3);
  color: var(--text1);
}

.surface4 {
  background-color: var(--color4);
  color: var(--text1);
}

.box-shadow{
  border: 1px solid hsl(var(--brand-hue) 10% 50% / 15%);
  box-shadow: 0 1rem .5rem -.5rem;
  box-shadow: 0 2.8px 2.2px hsl(var(--color-shadow)/ calc(var(--shadow-strength) + .03)),0 6.7px 5.3px hsl(var(--color-shadow)/ calc(var(--shadow-strength) + .01)),0 12.5px 10px hsl(var(--color-shadow)/ calc(var(--shadow-strength) + .02)),0 22.3px 17.9px hsl(var(--color-shadow)/ calc(var(--shadow-strength) + .02)),0 41.8px 33.4px hsl(var(--color-shadow)/ calc(var(--shadow-strength) + .03)),0 100px 80px hsl(var(--color-shadow) / var(--shadow-strength));
}

.u-style-label {
  font: var(--step-1)/1.2 var(--font-base);
  font-weight: 700;
  letter-spacing: .06em;
}

.text-step-8 {
  font-size: var(--step-8);
}

.text-step-7 {
  font-size: var(--step-7);
}

.text-step-6 {
  font-size: var(--step-6);
}

.text-step-5 {
  font-size: var(--step-5);
}

.text-step-4 {
  font-size: var(--step-4);
}

.text-step-3 {
  font-size: var(--step-3);
}

.text-step-2 {
  font-size: var(--step-2);
}

.text-step-1 {
  font-size: var(--step-1);
}

.text-step-0 {
  font-size: var(--step-0);
}

.text-step--1 {
  font-size: var(--step--1);
}