{{define "default"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{.Title}}</title>
  <meta name="description" content="Writing about releasing. Among other things.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/public/favicon.png">
  <link rel="stylesheet" href="/public/public.min.css">
</head>
<body>
  <div id="wrapper" class="wrapper">
    {{template "layout" .}}
  </div>
</body>
</html>
{{end}}