
* {
  --color-light-brand-hue: 10;
  --color-light-brand-saturation: 100%;
  --color-light-brand-lightness: 49%;
  --color-light-brand: hsl(var(--color-light-brand-hue) var(--color-light-brand-saturation) var(--color-light-brand-lightness));
  
  --color-dark-brand-hue: 10;
  --color-dark-brand-saturation: 100%;
  --color-dark-brand-lightness: 51.45%;
  --color-dark-brand: hsl(var(--color-dark-brand-hue) var(--color-dark-brand-saturation) var(--color-dark-brand-lightness));

  
  --color-light-secondary-1-hue: 275;
  --color-light-secondary-1-saturation: 70%;
  --color-light-secondary-1-lightness: 50%;
  --color-light-secondary-1: hsl(var(--color-light-secondary-1-hue) var(--color-light-secondary-1-saturation) var(--color-light-secondary-1-lightness));
  
  --color-light-secondary-2-hue: 102;
  --color-light-secondary-2-saturation: 80%;
  --color-light-secondary-2-lightness: 50%;
  --color-light-secondary-2: hsl(var(--color-light-secondary-2-hue) var(--color-light-secondary-2-saturation) var(--color-light-secondary-2-lightness));
  
  --color-light-secondary-3-hue: 240;
  --color-light-secondary-3-saturation: 100%;
  --color-light-secondary-3-lightness: 50%;
  --color-light-secondary-3: hsl(var(--color-light-secondary-3-hue) var(--color-light-secondary-3-saturation) var(--color-light-secondary-3-lightness));
  
  --color-light-secondary-4-hue: 46;
  --color-light-secondary-4-saturation: 100%;
  --color-light-secondary-4-lightness: 50%;
  --color-light-secondary-4: hsl(var(--color-light-secondary-4-hue) var(--color-light-secondary-4-saturation) var(--color-light-secondary-4-lightness));
  
  --color-light-secondary-5-hue: 16;
  --color-light-secondary-5-saturation: 100%;
  --color-light-secondary-5-lightness: 50%;
  --color-light-secondary-5: hsl(var(--color-light-secondary-5-hue) var(--color-light-secondary-5-saturation) var(--color-light-secondary-5-lightness));
  

  
  --color-dark-secondary-1-hue: 275;
  --color-dark-secondary-1-saturation: 84%;
  --color-dark-secondary-1-lightness: 52.5%;
  --color-dark-secondary-1: hsl(var(--color-dark-secondary-1-hue) var(--color-dark-secondary-1-saturation) var(--color-dark-secondary-1-lightness));
  
  --color-dark-secondary-2-hue: 102;
  --color-dark-secondary-2-saturation: 96%;
  --color-dark-secondary-2-lightness: 52.5%;
  --color-dark-secondary-2: hsl(var(--color-dark-secondary-2-hue) var(--color-dark-secondary-2-saturation) var(--color-dark-secondary-2-lightness));
  
  --color-dark-secondary-3-hue: 240;
  --color-dark-secondary-3-saturation: 100%;
  --color-dark-secondary-3-lightness: 52.5%;
  --color-dark-secondary-3: hsl(var(--color-dark-secondary-3-hue) var(--color-dark-secondary-3-saturation) var(--color-dark-secondary-3-lightness));
  
  --color-dark-secondary-4-hue: 46;
  --color-dark-secondary-4-saturation: 100%;
  --color-dark-secondary-4-lightness: 52.5%;
  --color-dark-secondary-4: hsl(var(--color-dark-secondary-4-hue) var(--color-dark-secondary-4-saturation) var(--color-dark-secondary-4-lightness));
  
  --color-dark-secondary-5-hue: 16;
  --color-dark-secondary-5-saturation: 100%;
  --color-dark-secondary-5-lightness: 52.5%;
  --color-dark-secondary-5: hsl(var(--color-dark-secondary-5-hue) var(--color-dark-secondary-5-saturation) var(--color-dark-secondary-5-lightness));
  

  
  --color-light-neutral-1: hsl(10 5% 1%);
  
  --color-light-neutral-2: hsl(10 5% 10%);
  
  --color-light-neutral-3: hsl(10 5% 20%);
  
  --color-light-neutral-4: hsl(10 5% 40%);
  
  --color-light-neutral-5: hsl(10 5% 60%);
  
  --color-light-neutral-6: hsl(10 5% 80%);
  
  --color-light-neutral-7: hsl(10 5% 90%);
  
  --color-light-neutral-8: hsl(10 5% 99%);
  

  
  --color-dark-neutral-1: hsl(10 5% 99%);
  
  --color-dark-neutral-2: hsl(10 5% 90%);
  
  --color-dark-neutral-3: hsl(10 5% 80%);
  
  --color-dark-neutral-4: hsl(10 5% 60%);
  
  --color-dark-neutral-5: hsl(10 5% 40%);
  
  --color-dark-neutral-6: hsl(10 5% 20%);
  
  --color-dark-neutral-7: hsl(10 5% 10%);
  
  --color-dark-neutral-8: hsl(10 5% 1%);
  

  
  
  --color-light-brand-1: hsl(10, 100%, 20%);
  
  --color-light-brand-2: hsl(10, 100%, 30%);
  
  --color-light-brand-3: hsl(10, 100%, 40%);
  
  --color-light-brand-4: hsl(10, 100%, 50%);
  
  --color-light-brand-5: hsl(10, 100%, 60%);
  
  --color-light-brand-6: hsl(10, 100%, 70%);
  
  --color-light-brand-7: hsl(10, 100%, 80%);
  
  --color-light-brand-8: hsl(10, 100%, 90%);
  
  
  
  --color-light-secondary-1-1: hsl(275, 70%, 20%);
  
  --color-light-secondary-1-2: hsl(275, 70%, 30%);
  
  --color-light-secondary-1-3: hsl(275, 70%, 40%);
  
  --color-light-secondary-1-4: hsl(275, 70%, 50%);
  
  --color-light-secondary-1-5: hsl(275, 70%, 60%);
  
  --color-light-secondary-1-6: hsl(275, 70%, 70%);
  
  --color-light-secondary-1-7: hsl(275, 70%, 80%);
  
  --color-light-secondary-1-8: hsl(275, 70%, 90%);
  
  
  
  --color-light-secondary-2-1: hsl(102, 80%, 20%);
  
  --color-light-secondary-2-2: hsl(102, 80%, 30%);
  
  --color-light-secondary-2-3: hsl(102, 80%, 40%);
  
  --color-light-secondary-2-4: hsl(102, 80%, 50%);
  
  --color-light-secondary-2-5: hsl(102, 80%, 60%);
  
  --color-light-secondary-2-6: hsl(102, 80%, 70%);
  
  --color-light-secondary-2-7: hsl(102, 80%, 80%);
  
  --color-light-secondary-2-8: hsl(102, 80%, 90%);
  
  
  
  --color-light-secondary-3-1: hsl(240, 100%, 20%);
  
  --color-light-secondary-3-2: hsl(240, 100%, 30%);
  
  --color-light-secondary-3-3: hsl(240, 100%, 40%);
  
  --color-light-secondary-3-4: hsl(240, 100%, 50%);
  
  --color-light-secondary-3-5: hsl(240, 100%, 60%);
  
  --color-light-secondary-3-6: hsl(240, 100%, 70%);
  
  --color-light-secondary-3-7: hsl(240, 100%, 80%);
  
  --color-light-secondary-3-8: hsl(240, 100%, 90%);
  
  

  
  
  --color-dark-brand-1: hsl(10, 100%, 20%);
  
  --color-dark-brand-2: hsl(10, 100%, 30%);
  
  --color-dark-brand-3: hsl(10, 100%, 40%);
  
  --color-dark-brand-4: hsl(10, 100%, 50%);
  
  --color-dark-brand-5: hsl(10, 100%, 60%);
  
  --color-dark-brand-6: hsl(10, 100%, 70%);
  
  --color-dark-brand-7: hsl(10, 100%, 80%);
  
  --color-dark-brand-8: hsl(10, 100%, 90%);
  
  
  
  --color-dark-secondary-1-1: hsl(275, 70%, 20%);
  
  --color-dark-secondary-1-2: hsl(275, 70%, 30%);
  
  --color-dark-secondary-1-3: hsl(275, 70%, 40%);
  
  --color-dark-secondary-1-4: hsl(275, 70%, 50%);
  
  --color-dark-secondary-1-5: hsl(275, 70%, 60%);
  
  --color-dark-secondary-1-6: hsl(275, 70%, 70%);
  
  --color-dark-secondary-1-7: hsl(275, 70%, 80%);
  
  --color-dark-secondary-1-8: hsl(275, 70%, 90%);
  
  
  
  --color-dark-secondary-2-1: hsl(102, 80%, 20%);
  
  --color-dark-secondary-2-2: hsl(102, 80%, 30%);
  
  --color-dark-secondary-2-3: hsl(102, 80%, 40%);
  
  --color-dark-secondary-2-4: hsl(102, 80%, 50%);
  
  --color-dark-secondary-2-5: hsl(102, 80%, 60%);
  
  --color-dark-secondary-2-6: hsl(102, 80%, 70%);
  
  --color-dark-secondary-2-7: hsl(102, 80%, 80%);
  
  --color-dark-secondary-2-8: hsl(102, 80%, 90%);
  
  
  
  --color-dark-secondary-3-1: hsl(240, 100%, 20%);
  
  --color-dark-secondary-3-2: hsl(240, 100%, 30%);
  
  --color-dark-secondary-3-3: hsl(240, 100%, 40%);
  
  --color-dark-secondary-3-4: hsl(240, 100%, 50%);
  
  --color-dark-secondary-3-5: hsl(240, 100%, 60%);
  
  --color-dark-secondary-3-6: hsl(240, 100%, 70%);
  
  --color-dark-secondary-3-7: hsl(240, 100%, 80%);
  
  --color-dark-secondary-3-8: hsl(240, 100%, 90%);
  
  

  --shadow-color-light: var(--color-light-brand-hue) 3% 15%;
  --shadow-strength-light: 15%;
  --svg-image-filter-contrast-light: 15%;

  --shadow-color-dark: var(--color-dark-brand-hue) 40% 2%;
  --shadow-strength-dark: 50%;
  --svg-image-filter-contrast-dark: 85%;
}

:root {
  color-scheme: light;
  --color-brand: var(--color-light-brand);
  
  --color-secondary-1: var(--color-light-secondary-1);
  
  --color-secondary-2: var(--color-light-secondary-2);
  
  --color-secondary-3: var(--color-light-secondary-3);
  
  --color-secondary-4: var(--color-light-secondary-4);
  
  --color-secondary-5: var(--color-light-secondary-5);
  
  
  --color-neutral-1: var(--color-light-neutral-1);
  
  --color-neutral-2: var(--color-light-neutral-2);
  
  --color-neutral-3: var(--color-light-neutral-3);
  
  --color-neutral-4: var(--color-light-neutral-4);
  
  --color-neutral-5: var(--color-light-neutral-5);
  
  --color-neutral-6: var(--color-light-neutral-6);
  
  --color-neutral-7: var(--color-light-neutral-7);
  
  --color-neutral-8: var(--color-light-neutral-8);
  
  
  
  --color-brand-1: var(--color-light-brand-1);
  
  --color-brand-2: var(--color-light-brand-2);
  
  --color-brand-3: var(--color-light-brand-3);
  
  --color-brand-4: var(--color-light-brand-4);
  
  --color-brand-5: var(--color-light-brand-5);
  
  --color-brand-6: var(--color-light-brand-6);
  
  --color-brand-7: var(--color-light-brand-7);
  
  --color-brand-8: var(--color-light-brand-8);
  
  
  
  --color-secondary-1-1: var(--color-light-secondary-1-1);
  
  --color-secondary-1-2: var(--color-light-secondary-1-2);
  
  --color-secondary-1-3: var(--color-light-secondary-1-3);
  
  --color-secondary-1-4: var(--color-light-secondary-1-4);
  
  --color-secondary-1-5: var(--color-light-secondary-1-5);
  
  --color-secondary-1-6: var(--color-light-secondary-1-6);
  
  --color-secondary-1-7: var(--color-light-secondary-1-7);
  
  --color-secondary-1-8: var(--color-light-secondary-1-8);
  
  
  
  --color-secondary-2-1: var(--color-light-secondary-2-1);
  
  --color-secondary-2-2: var(--color-light-secondary-2-2);
  
  --color-secondary-2-3: var(--color-light-secondary-2-3);
  
  --color-secondary-2-4: var(--color-light-secondary-2-4);
  
  --color-secondary-2-5: var(--color-light-secondary-2-5);
  
  --color-secondary-2-6: var(--color-light-secondary-2-6);
  
  --color-secondary-2-7: var(--color-light-secondary-2-7);
  
  --color-secondary-2-8: var(--color-light-secondary-2-8);
  
  
  
  --color-secondary-3-1: var(--color-light-secondary-3-1);
  
  --color-secondary-3-2: var(--color-light-secondary-3-2);
  
  --color-secondary-3-3: var(--color-light-secondary-3-3);
  
  --color-secondary-3-4: var(--color-light-secondary-3-4);
  
  --color-secondary-3-5: var(--color-light-secondary-3-5);
  
  --color-secondary-3-6: var(--color-light-secondary-3-6);
  
  --color-secondary-3-7: var(--color-light-secondary-3-7);
  
  --color-secondary-3-8: var(--color-light-secondary-3-8);
  
  
  --shadow-color: var(--shadow-color-light);
  --shadow-strength: var(--shadow-strength-light);
  --svg-image-filter-contrast: var(--svg-image-filter-contrast-light);
}

@media (prefers-color-scheme:dark) {
  :root {
    color-scheme: dark;
    --color-brand: var(--color-dark-brand);
    
    --color-secondary-1: var(--color-dark-secondary-1);
    
    --color-secondary-2: var(--color-dark-secondary-2);
    
    --color-secondary-3: var(--color-dark-secondary-3);
    
    --color-secondary-4: var(--color-dark-secondary-4);
    
    --color-secondary-5: var(--color-dark-secondary-5);
    
    
    --color-neutral-1: var(--color-dark-neutral-1);
    
    --color-neutral-2: var(--color-dark-neutral-2);
    
    --color-neutral-3: var(--color-dark-neutral-3);
    
    --color-neutral-4: var(--color-dark-neutral-4);
    
    --color-neutral-5: var(--color-dark-neutral-5);
    
    --color-neutral-6: var(--color-dark-neutral-6);
    
    --color-neutral-7: var(--color-dark-neutral-7);
    
    --color-neutral-8: var(--color-dark-neutral-8);
    
    
    
    --color-brand-1: var(--color-dark-brand-1);
    
    --color-brand-2: var(--color-dark-brand-2);
    
    --color-brand-3: var(--color-dark-brand-3);
    
    --color-brand-4: var(--color-dark-brand-4);
    
    --color-brand-5: var(--color-dark-brand-5);
    
    --color-brand-6: var(--color-dark-brand-6);
    
    --color-brand-7: var(--color-dark-brand-7);
    
    --color-brand-8: var(--color-dark-brand-8);
    
    
    
    --color-secondary-1-1: var(--color-dark-secondary-1-1);
    
    --color-secondary-1-2: var(--color-dark-secondary-1-2);
    
    --color-secondary-1-3: var(--color-dark-secondary-1-3);
    
    --color-secondary-1-4: var(--color-dark-secondary-1-4);
    
    --color-secondary-1-5: var(--color-dark-secondary-1-5);
    
    --color-secondary-1-6: var(--color-dark-secondary-1-6);
    
    --color-secondary-1-7: var(--color-dark-secondary-1-7);
    
    --color-secondary-1-8: var(--color-dark-secondary-1-8);
    
    
    
    --color-secondary-2-1: var(--color-dark-secondary-2-1);
    
    --color-secondary-2-2: var(--color-dark-secondary-2-2);
    
    --color-secondary-2-3: var(--color-dark-secondary-2-3);
    
    --color-secondary-2-4: var(--color-dark-secondary-2-4);
    
    --color-secondary-2-5: var(--color-dark-secondary-2-5);
    
    --color-secondary-2-6: var(--color-dark-secondary-2-6);
    
    --color-secondary-2-7: var(--color-dark-secondary-2-7);
    
    --color-secondary-2-8: var(--color-dark-secondary-2-8);
    
    
    
    --color-secondary-3-1: var(--color-dark-secondary-3-1);
    
    --color-secondary-3-2: var(--color-dark-secondary-3-2);
    
    --color-secondary-3-3: var(--color-dark-secondary-3-3);
    
    --color-secondary-3-4: var(--color-dark-secondary-3-4);
    
    --color-secondary-3-5: var(--color-dark-secondary-3-5);
    
    --color-secondary-3-6: var(--color-dark-secondary-3-6);
    
    --color-secondary-3-7: var(--color-dark-secondary-3-7);
    
    --color-secondary-3-8: var(--color-dark-secondary-3-8);
    
    
    --shadow-color: var(--shadow-color-dark);
    --shadow-strength: var(--shadow-strength-dark);
    --svg-image-filter-contrast: var(--svg-image-filter-contrast-dark);
  }
}

.light,
[color-scheme=light] {
  color-scheme: light;
  color-scheme: light;
  --color-brand: var(--color-light-brand);
  
  --color-secondary-1: var(--color-light-secondary-1);
  
  --color-secondary-2: var(--color-light-secondary-2);
  
  --color-secondary-3: var(--color-light-secondary-3);
  
  --color-secondary-4: var(--color-light-secondary-4);
  
  --color-secondary-5: var(--color-light-secondary-5);
  
  
  --color-neutral-1: var(--color-light-neutral-1);
  
  --color-neutral-2: var(--color-light-neutral-2);
  
  --color-neutral-3: var(--color-light-neutral-3);
  
  --color-neutral-4: var(--color-light-neutral-4);
  
  --color-neutral-5: var(--color-light-neutral-5);
  
  --color-neutral-6: var(--color-light-neutral-6);
  
  --color-neutral-7: var(--color-light-neutral-7);
  
  --color-neutral-8: var(--color-light-neutral-8);
  
  
  
  --color-brand-1: var(--color-light-brand-1);
  
  --color-brand-2: var(--color-light-brand-2);
  
  --color-brand-3: var(--color-light-brand-3);
  
  --color-brand-4: var(--color-light-brand-4);
  
  --color-brand-5: var(--color-light-brand-5);
  
  --color-brand-6: var(--color-light-brand-6);
  
  --color-brand-7: var(--color-light-brand-7);
  
  --color-brand-8: var(--color-light-brand-8);
  
  
  
  --color-secondary-1-1: var(--color-light-secondary-1-1);
  
  --color-secondary-1-2: var(--color-light-secondary-1-2);
  
  --color-secondary-1-3: var(--color-light-secondary-1-3);
  
  --color-secondary-1-4: var(--color-light-secondary-1-4);
  
  --color-secondary-1-5: var(--color-light-secondary-1-5);
  
  --color-secondary-1-6: var(--color-light-secondary-1-6);
  
  --color-secondary-1-7: var(--color-light-secondary-1-7);
  
  --color-secondary-1-8: var(--color-light-secondary-1-8);
  
  
  
  --color-secondary-2-1: var(--color-light-secondary-2-1);
  
  --color-secondary-2-2: var(--color-light-secondary-2-2);
  
  --color-secondary-2-3: var(--color-light-secondary-2-3);
  
  --color-secondary-2-4: var(--color-light-secondary-2-4);
  
  --color-secondary-2-5: var(--color-light-secondary-2-5);
  
  --color-secondary-2-6: var(--color-light-secondary-2-6);
  
  --color-secondary-2-7: var(--color-light-secondary-2-7);
  
  --color-secondary-2-8: var(--color-light-secondary-2-8);
  
  
  
  --color-secondary-3-1: var(--color-light-secondary-3-1);
  
  --color-secondary-3-2: var(--color-light-secondary-3-2);
  
  --color-secondary-3-3: var(--color-light-secondary-3-3);
  
  --color-secondary-3-4: var(--color-light-secondary-3-4);
  
  --color-secondary-3-5: var(--color-light-secondary-3-5);
  
  --color-secondary-3-6: var(--color-light-secondary-3-6);
  
  --color-secondary-3-7: var(--color-light-secondary-3-7);
  
  --color-secondary-3-8: var(--color-light-secondary-3-8);
  
  
  --shadow-color: var(--shadow-color-light);
  --shadow-strength: var(--shadow-strength-light);
  --svg-image-filter-contrast: var(--svg-image-filter-contrast-light);
}

.dark,
[color-scheme=dark] {
  color-scheme: dark;
  --color-brand: var(--color-dark-brand);
  
  --color-secondary-1: var(--color-dark-secondary-1);
  
  --color-secondary-2: var(--color-dark-secondary-2);
  
  --color-secondary-3: var(--color-dark-secondary-3);
  
  --color-secondary-4: var(--color-dark-secondary-4);
  
  --color-secondary-5: var(--color-dark-secondary-5);
  
  
  --color-neutral-1: var(--color-dark-neutral-1);
  
  --color-neutral-2: var(--color-dark-neutral-2);
  
  --color-neutral-3: var(--color-dark-neutral-3);
  
  --color-neutral-4: var(--color-dark-neutral-4);
  
  --color-neutral-5: var(--color-dark-neutral-5);
  
  --color-neutral-6: var(--color-dark-neutral-6);
  
  --color-neutral-7: var(--color-dark-neutral-7);
  
  --color-neutral-8: var(--color-dark-neutral-8);
  
  
  
  --color-brand-1: var(--color-dark-brand-1);
  
  --color-brand-2: var(--color-dark-brand-2);
  
  --color-brand-3: var(--color-dark-brand-3);
  
  --color-brand-4: var(--color-dark-brand-4);
  
  --color-brand-5: var(--color-dark-brand-5);
  
  --color-brand-6: var(--color-dark-brand-6);
  
  --color-brand-7: var(--color-dark-brand-7);
  
  --color-brand-8: var(--color-dark-brand-8);
  
  
  
  --color-secondary-1-1: var(--color-dark-secondary-1-1);
  
  --color-secondary-1-2: var(--color-dark-secondary-1-2);
  
  --color-secondary-1-3: var(--color-dark-secondary-1-3);
  
  --color-secondary-1-4: var(--color-dark-secondary-1-4);
  
  --color-secondary-1-5: var(--color-dark-secondary-1-5);
  
  --color-secondary-1-6: var(--color-dark-secondary-1-6);
  
  --color-secondary-1-7: var(--color-dark-secondary-1-7);
  
  --color-secondary-1-8: var(--color-dark-secondary-1-8);
  
  
  
  --color-secondary-2-1: var(--color-dark-secondary-2-1);
  
  --color-secondary-2-2: var(--color-dark-secondary-2-2);
  
  --color-secondary-2-3: var(--color-dark-secondary-2-3);
  
  --color-secondary-2-4: var(--color-dark-secondary-2-4);
  
  --color-secondary-2-5: var(--color-dark-secondary-2-5);
  
  --color-secondary-2-6: var(--color-dark-secondary-2-6);
  
  --color-secondary-2-7: var(--color-dark-secondary-2-7);
  
  --color-secondary-2-8: var(--color-dark-secondary-2-8);
  
  
  
  --color-secondary-3-1: var(--color-dark-secondary-3-1);
  
  --color-secondary-3-2: var(--color-dark-secondary-3-2);
  
  --color-secondary-3-3: var(--color-dark-secondary-3-3);
  
  --color-secondary-3-4: var(--color-dark-secondary-3-4);
  
  --color-secondary-3-5: var(--color-dark-secondary-3-5);
  
  --color-secondary-3-6: var(--color-dark-secondary-3-6);
  
  --color-secondary-3-7: var(--color-dark-secondary-3-7);
  
  --color-secondary-3-8: var(--color-dark-secondary-3-8);
  
  
  --shadow-color: var(--shadow-color-dark);
  --shadow-strength: var(--shadow-strength-dark);
  --svg-image-filter-contrast: var(--svg-image-filter-contrast-dark);
}

